.jumbotron {
    background-color: #0073BD;
    color: white;
}

#main {
    min-height: 60vh;
    .row {
        margin-top: 20px;
        font-family: 'Josefin Sans', sans-serif;
        .card {
            hr {
                border: 1px solid black;
            }
            .card-title {
                font-size: 11px;
            }
            .card-text {
                font-size: 20px;
                color: #0073BD;
            }
        }
    }
    h4 {
        font-family: 'Josefin Sans', sans-serif;
    }
    mat-accordion {
        mat-expansion-panel {
            border-radius: 0px;
            margin-bottom: 30px;
            .row {
                margin-bottom: 10px;
                .col-md-6 {
                    span {
                        font-weight: bold;
                    }
                }
                button {
                    border-radius: 0px;
                    font-size: 13px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}