<div class="jumbotron jumbotron-fluid" [ngStyle]="{'background-color': brandColor}">
    <div class="container">
        <img *ngIf="logo" src="{{logo}}">
        <button (click)="logout()" type="button" class="btn btn-primary" [ngStyle]="{'background-color': brandColor}">Logout <fa name="sign-out"></fa></button>
        <h1 class="display-4">{{name}}</h1>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="isLoading === true">
    <mat-spinner diameter="20" style="margin-top: 20px;"></mat-spinner>
</div>
<div class="container" id="main">
    <h4>Overview</h4>
    <div class="row mb-5">
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title text-muted">Total Claims</h6>
                    <hr>
                    <p class="card-text"><strong>{{claims}}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted">Total Enrolments</h5>
                    <hr>
                    <p class="card-text"><strong>{{policyHolders}}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted">Total Agents</h5>
                    <hr>
                    <p class="card-text"><strong>{{agents}}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted">Total Policies</h5>
                    <hr>
                    <p class="card-text"><strong>{{policies}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <h4>Partner Products</h4>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let product of products">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{product.description}}
                </mat-panel-title>
                <mat-panel-description>
                    <button type="button" class="btn btn-info" (click)="dashboard(product.id, product.description)" [ngStyle]="{'background-color': brandColor}">Dashboard <fa name="arrow-right"></fa></button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-4">
                    <p class="card-text"><strong>Code : </strong>{{product.productCode}}</p>
                    <p class="card-text"><strong>Description : </strong>{{product.description}}</p>
                    <p class="card-text"><strong>Minimum Age: </strong>{{product.minAge}}</p>
                    <p class="card-text"><strong>Maximum Age: </strong>{{product.maxAge}}</p>
                    <p class="card-text"><strong>Commission Rate : </strong>{{product.commissionRate}}</p>
                </div>
                <div class="col-md-4">
                    <p class="card-text"><strong>USSD Short Code : </strong>{{product.ussdShortCode}}</p>
                    <p class="card-text"><strong>Bulk SMS Short Code : </strong>{{product.bulkSmsShortCode}}</p>
                    <p class="card-text"><strong>Two Way Short Code : </strong>{{product.twoWayShortCode}}</p>
                    <p class="card-text"><strong>Mpesa C2B Short Code : </strong>{{product.mpesaC2bShortCode}}</p>
                    <p class="card-text"><strong>Mpesa B2C Short Code : </strong>{{product.mpesaB2cShortCode}}</p>
                </div>
                <div class="col-md-4">
                    <p class="card-text"><strong>WhatsApp Number : </strong>{{product.whatsAppNumber}}</p>
                    <p class="card-text"><strong>Phone Number : </strong>{{product.helpLine.phoneNumber}}</p>
                    <p class="card-text"><strong>Email : </strong>{{product.helpLine.email}}</p>
                    <p class="card-text"><strong>Created At : </strong>{{product.createdAt | date: 'medium'}}</p>
                    <p class="card-text"><strong>Lacep : </strong>{{product.lacep}}</p>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="footer" [ngStyle]="{'background-color': brandColor}">
    <div class="container">

        <p>Bluewave Partner's Portal.</p>
        <hr>
        <p style="font-size: 12px;">Bluewave &copy; &nbsp; All Rights Reserved.</p>
    </div>
</div>