.jumbotron {
    background-color: #0073BD;
    color: white;
    button {
        border-radius: 0px;
        box-shadow: none !important;
        font-size: 13px;
        float: right;
    }
    img {
        height: 75px;
        width: 75px;
    }
}

#main {
    min-height: 80vh;
    .row {
        margin-top: 20px;
        padding-bottom: 50px;
        font-family: 'Josefin Sans', sans-serif;
        .card {
            hr {
                border: 1px solid black;
            }
            .card-title {
                font-size: 11px;
            }
            .card-text {
                font-size: 20px;
                color: #0073BD;
            }
        }
    }
    h4 {
        font-family: 'Josefin Sans', sans-serif;
    }
    mat-accordion {
        mat-expansion-panel {
            border-radius: 0px;
            margin-bottom: 30px;
            button {
                border-radius: 0px;
                font-size: 13px;
                outline: none !important;
                box-shadow: none !important;
                border: 0px;
            }
            .row {
                margin-bottom: 10px;
                .col-md-6 {
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.footer {
    min-height: 200px;
    background-color: #0073BD;
    color: white;
    .container {
        padding-top: 50px;
        p {
            font-size: 13px;
        }
    }
    hr {
        border: 1px solid white;
    }
}