<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="navbar">
            <fa name="bars" size="lg" (click)="sidenav.toggle()"></fa>
        </div>
        <router-outlet name="outlet1">
            <div *ngIf="(router.url === '/home/dashboard')">
                <div class="container">
                    <h4>Dashboard</h4>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title text-muted">Claims</h6>
                                    <hr>
                                    <p class="card-text"><strong>{{claims}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted">Policy Holders</h5>
                                    <hr>
                                    <p class="card-text"><strong>{{policyHolders}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted">Agents</h5>
                                    <hr>
                                    <p class="card-text"><strong>{{agents}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted">Policies</h5>
                                    <hr>
                                    <p class="card-text"><strong>{{policies}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted">APA Imarisha Monthly</h5>
                                    <hr>
                                    <p class="card-text"><strong>{{monthly}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted">APA Imarisha Semi Annually</h5>
                                    <hr>
                                    <p class="card-text"><strong>{{semiAnnually}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted">APA Imarisha Annually</h5>
                                    <hr>
                                    <p class="card-text"><strong>{{annually}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted">Commissions</h5>
                                    <hr>
                                    <p class="card-text"><strong>{{commissions}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>