<div class="container">
    <h4>Commissions</h4>
    <div class="mat-elevation-z8">
        <form [formGroup]="filterForm">
            <div class="date-block">
                <div class="date-block__list">
                    <mat-form-field>
                        <input matInput readonly [min]="minDate" [max]="maxDate" [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate" required>
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="date-block__list">
                    <mat-form-field>
                        <input matInput readonly [min]="minDate" [max]="maxDate" [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate" required>
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <button type="button" class="btn btn-primary" (click)="applyFilter1()">Filter</button>
                <button type="button" class="btn btn-info" (click)="reset()">
                    <fa name="retweet"></fa>
                </button>
                <button type="button" class="btn btn-success" (click)="exporter.exportTable(exportType, {fileName: 'Commissions'})">Excel 
                    <fa name="download"></fa>
                </button>
            </div>
        </form>
        <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" [hiddenColumns]="[0]">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <td mat-cell *matCellDef="let commission; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- FirstnameColumn -->
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let commission"> {{commission.agent.firstName | titlecase}} </td>
            </ng-container>

            <!-- Lastname Column -->
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let commission"> {{commission.agent.lastName | titlecase}} </td>
            </ng-container>

            <!-- Phone Number Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let commission"> {{commission.agent.phoneNumber}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let commission"> {{commission.agent.email}} </td>
            </ng-container>

            <!-- Lastname Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Agent Code </th>
                <td mat-cell *matCellDef="let commission"> {{commission.agent.code}} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> amount </th>
                <td mat-cell *matCellDef="let commission"> {{commission.amount}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="paid">
                <th mat-header-cell *matHeaderCellDef> Paid </th>
                <td mat-cell *matCellDef="let commission"> {{commission.paid | titlecase}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let commission"> {{commission.createdAt | date: 'shortDate'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="d-flex justify-content-center" *ngIf="isLoading === true">
            <mat-spinner diameter="20" style="margin-top: 20px;"></mat-spinner>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>

</div>