<div class="container">
    <h4>Payments</h4>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="fullname">
                <th mat-header-cell *matHeaderCellDef> Fullname </th>
                <td mat-cell *matCellDef="let payment"> {{payment.paidBy | titlecase}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                <td mat-cell *matCellDef="let payment"> {{payment.phoneNumber}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let payment"> {{payment.transactionAmt}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="ref">
                <th mat-header-cell *matHeaderCellDef> Transaction Ref No </th>
                <td mat-cell *matCellDef="let payment"> {{payment.transactionRef}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let payment"> {{payment.narrative| titlecase}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let payment"> {{payment.transactionDate | date: 'medium'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="d-flex justify-content-center" *ngIf="isLoading === true">
            <mat-spinner diameter="20" style="margin-top: 20px;"></mat-spinner>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</div>