.container {
    h4 {
        font-family: 'Josefin Sans', sans-serif;
    }
    .d-flex {
        margin-top: 20px;
    }
    .mat-elevation-z8 {
        margin-top: 20px;
        mat-form-field {
            margin-left: 20px;
            margin-top: 10px;
        }
        table {
            width: 100%;
        }
    }
}