.sidebar {
    background-color: #05ADED;
    height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    img {
        padding-top: 10px;
        height: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        border: 1px solid black;
    }
    .home,
    .dashboard,
    .customers,
    .agents,
    .products,
    .claims,
    .channels,
    .payment,
    .messages,
    .commissions,
    .USSD,
    .enrolments {
        padding: 10px 0px 10px 30px;
        font-size: 13px;
        height: 50px;
        font-weight: bold;
        a {
            text-decoration: none;
            color: white;
            vertical-align: middle;
            border: 0px;
            span {
                margin-right: 15px;
            }
        }
    }
    button {
        border-radius: 0px;
        display: block;
        margin: 0 auto;
    }
    .active {
        border-right: 4px solid black !important;
    }
}