<div class="sidebar">
    <img src="/assets/images/logo.png">
    <!-- <h4>Bluewave Patners Dashboard</h4> -->
    <hr>
    <div class="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="link" routerLink="/products/home"><span><fa name="home"></fa></span>HOME</a>
    </div>
    <div class="dashboard" routerLinkActive="active">
        <a class="link" [routerLink]="['/products/home', {outlets: {outlet1: ['dashboard']}}]"><span><fa name="tachometer"></fa></span>DASHBOARD</a>
    </div>
    <div class="customers" routerLinkActive="active">
        <a class="link" [routerLink]="['/products/home', {outlets: {outlet1: ['policy-holders']}}]"><span><fa name="user"></fa></span>POLICY HOLDERS</a>
    </div>
    <div class="enrolments" routerLinkActive="active">
        <a class="link" [routerLink]="['/products/home', {outlets: {outlet1: ['enrolments']}}]"><span><fa name="user"></fa></span>ENROLMENTS</a>
    </div>
    <div class="agents" routerLinkActive="active">
        <a class="link" [routerLink]="['/products/home', {outlets: {outlet1: ['agents']}}]"><span><fa name="users"></fa></span>AGENTS</a>
    </div>
    <div class="commissions" routerLinkActive="active">
        <a class="link" [routerLink]="['/products/home', {outlets: {outlet1: ['commissions']}}]"><span><fa name="user"></fa></span>COMMISSIONS</a>
    </div>
    <div class="claims" routerLinkActive="active">
        <a class="link" [routerLink]="['/products/home', {outlets: {outlet1: ['claims']}}]"><span><fa name="file"></fa></span>CLAIMS</a>
    </div>
    <div class="payment" routerLinkActive="active">
        <a class="link" [routerLink]="['/products/home', {outlets: {outlet1: ['payments']}}]"><span><fa name="money"></fa></span>PAYMENT LOGS</a>
    </div>
    <hr>
    <div class="user">
        <fa name="user-circle" size="lg"></fa>
        <fa name="caret-down" size="lg"></fa>
    </div>
</div>