<div class="sidebar" [ngStyle]="{'background-color': brandColor}">
    <img src="{{logo}}">
    <hr>
    <div class="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="link" routerLink="/home/dashboard"><span><fa name="home"></fa></span>DASHBOARD</a>
    </div>
    <div class="enrolments" routerLinkActive="active">
        <a class="link" [routerLink]="['/home/dashboard', {outlets: {outlet1: ['enrolments']}}]"><span><fa name="user"></fa></span>ENROLMENTS</a>
    </div>
    <div class="agents" routerLinkActive="active">
        <a class="link" [routerLink]="['/home/dashboard', {outlets: {outlet1: ['agents']}}]"><span><fa name="users"></fa></span>AGENTS</a>
    </div>
    <div class="commissions" routerLinkActive="active">
        <a class="link" [routerLink]="['/home/dashboard', {outlets: {outlet1: ['commissions']}}]"><span><fa name="user"></fa></span>COMMISSIONS</a>
    </div>
    <div class="claims" routerLinkActive="active">
        <a class="link" [routerLink]="['/home/dashboard', {outlets: {outlet1: ['claims']}}]"><span><fa name="file"></fa></span>CLAIMS</a>
    </div>
    <div class="policies" routerLinkActive="active">
        <a class="link" [routerLink]="['/home/dashboard', {outlets: {outlet1: ['policies']}}]"><span><fa name="sticky-note"></fa></span>POLICIES</a>
    </div>
    <div class="USSD" routerLinkActive="active">
        <a class="link" [routerLink]="['/home/dashboard', {outlets: {outlet1: ['ussd-sessions']}}]">
            <span>
                <fa name="phone" size="lg"></fa>
            </span>USSD
        </a>
    </div>
    <hr>
    <button routerLink="/home" type="button" class="btn btn-primary" [ngStyle]="{'background-color': brandColor}"><fa name="arrow-left"></fa> Back Home </button>
</div>